.container {
    padding: 0px;
    background-color: black;
    min-height: 86vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    font-family: 'Open sans';

    color: white;
}

.body {
    display: flex;
    flex-direction: column;

    padding: 2rem 0;
    width: min(90%, 60rem);
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.concertGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
}

.cardImg {
    height: 28rem;
    padding: 1rem;
}

.buttons {
    display: flex;
}

.btnContainer {
    display: flex;
    gap: 1rem;
}

.navLink {
    color: white;
}

.navLink1 {
    text-decoration: underline;
}

@media (min-width: 1921px) {
    .body {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .concertGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}