.container {
    padding: 0px;
    background-color: black;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    font-family: 'Open sans';
}

.header {
    min-height: 8vh;
    background-color: black;
}

.body {
    min-height: 92vh;

    display: flex;
    flex-direction: column;

    margin: auto;
    width: min(100%, 60rem);
}

.upper {
    min-height: 60vh;
    background-image: url(../Images/michelle.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* color: #aa5811; */
    color: rgb(170, 88, 17);
    letter-spacing: 30px;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(220, 120, 59);


}

.upper > p {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    font-family: 'Rubik', sans-serif;
}

.firstName {
    
   
}
.lastName {
    
}

.lower {
    min-height: 60vh;
    background-color: #e7d3b1;
    padding: 2vw;
    color: #856429;
    font-size: 1.1em;
}

.lowerName {
    font-size: 1.5em;
    letter-spacing: 0.35em;
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
}

.lowerFirstName{
    color: #aa5811;
}

.lowerRole {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.lowerJobs {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.lowerBio {
    letter-spacing: 0.35em;
    font-weight: bold;
}

.lowerText {
    letter-spacing: 0.1em;
}

/* Media Queries */

@media (min-width: 1921px) {
    .body {
        width: 50%;
        margin: auto;
    }
    .upper > p {
        font-size: 10rem;
    }
    .lower > p {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .upper {
        min-height: 40vh;
    }
    .upper > p {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .upper {
        min-height: 30vh;
    }
    .upper > p {
        font-size: 1.8rem;
        letter-spacing: 20px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');