.container {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px solid black;
    background-color: black;
}

.container > p {
    margin: 0px;
    color: white;
}

.logos {
    display: flex;
    align-items: center;
}

.logos > img {
    height: 1vw;
    padding-left: 1vw;
}

.logos > img:hover {
    cursor: pointer;
}

@media (max-width: 1500px) {
    .logos > img {
        height: 2vw;
    }
}

@media (max-width: 750px) {
    .logos > img {
        height: 3vw;
    }
}

@media (max-width: 440px) {
    .container > p {
        font-size: 0.5em;
    }
}