.container {
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0px;
    background-color: rgb(169, 231, 195);
    min-height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
}

.header {
    height: 8vh;
    background-color: red;

}

/* Video Section*/

.video {
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContainer {
    height: 90%;
    width: 40%;
}

/* Banner 1 */

.banner1 {
    height: 30vh;
    background-image: url(../Images/banner1v4.jpg); /* https://unsplash.com/photos/7CcPLtywRso */
    background-size: cover;
    background-position: center;

    padding-left: 25vw;
    padding-right: 25vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;

}

.banner1Title {
    font-size: 2.6em;
    font-weight: bold;
}

.banner1Description {
    font-size: 1.1em;
    letter-spacing: 1.1px;
}

.banner1JoinUs {
    font-size: 1.1em;
    font-weight: bold;
}

.button1Container {
    display: flex;
}
.button1Container > Button {
    margin-left: 2em;
    margin-right: 2em;
}
.btn {
    width: 8vw;
    height: 4vh;
    font-size: 0.8em;
    font-weight: bold;
}
.btn:hover {
    background-color: white;
    color: black;
}

/* Banner 2 */

.banner2 {
    height: 30vh;
    background-image: url(../Images/bannerv2.jpg); /* https://unsplash.com/photos/7CcPLtywRso */
    background-size: cover;
    background-position: center;

    padding-left: 25vw;
    padding-right: 25vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
}

.banner2Title {
    font-size: 2.6em;
    font-weight: bold;
    padding-bottom: 1em;
}

/* Banner 3 */
.banner3 {
    height: 20vh;
    border: 1px solid black;
}

.photos {
    height: 20vh;
    border: 1px solid black;
}

/* Media Queries */
@media (max-width: 1300px) {
    .header {
        height: 6vh;
    }

}
@media (max-width: 1150px) {
    .header {
        height: 4vh;
    }
}
@media (max-width: 850px) {
    .header {
        height: 3.5vh;
    }
}
@media (max-width: 630px) {
    .header {
        height: 3.5vh;
    }
}