.container {
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0px;
    background-color: rgb(169, 231, 195);
    min-height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
}

.header {
    height: 8vh;
    background-color: red;

}

/* Video Section*/

.video {
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContainer {
    height: 90%;
    width: 40%;
}

/* Banner 1 */

.banner1 {
    height: 30vh;
    background-image: url(../Images/banner1v4.jpg); /* https://unsplash.com/photos/7CcPLtywRso */
    background-size: cover;
    background-position: center;

    padding-left: 20vw;
    padding-right: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;

}

.banner1Title {
    font-size: 2.6em;
    font-weight: bold;
}

.banner1Description {
    font-size: 0.9em;
    letter-spacing: 1.1px;
}

.banner1JoinUs {
    font-size: 1.1em;
    font-weight: bold;
}

.button1Container {
    display: flex;
}
.button1Container > Button {
    margin-left: 2em;
    margin-right: 2em;
}
.btn {
    width: 9vw;
    height: 4vh;
    font-size: 0.6em;
    font-weight: bold;
}
.btn:hover {
    background-color: white;
    color: black;
}

/* Banner 2 */

.banner2 {
    height: 30vh;
    background-image: url(../Images/bannerv2.jpg); /* https://unsplash.com/photos/7CcPLtywRso */
    background-size: cover;
    background-position: center;

    padding-left: 20vw;
    padding-right: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
}

.banner2:hover {
    cursor: pointer;
}

.banner2Title {
    font-size: 2.6em;
    font-weight: bold;
    padding-bottom: 1em;
}

.banner2Title:hover {
    color: orange;
}

.banner2Description {
    letter-spacing: 1.1px;
    font-size: 0.9em;
}

/* Banner 3 */
.banner3 {
    height: 40vh;
    border: 1px solid black;

    padding-left: 20vw;
    padding-right: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url(../Images/banner3.jpg);
    background-size: cover;
    background-position: center;

}

.upperText {
    
    color: white;
}

.upperTextTitle {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 0px;
}

.upperTextDesc {
    font-size: 0.9em;
    letter-spacing: 1.1px;
    font-style: italic;
}

.banner3Photos {
    height: 14vw;
    width: 50vw;

    display: flex;
    justify-content: space-evenly

}

.banner3Left, .banner3Middle, .banner3Right {
    height: 14vw;
    width: 14vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.banner3Left > p, .banner3Middle >p, .banner3Right > p {
    color: white;
    font-style: italic;
}

.banner3Left > img , .banner3Middle > img, .banner3Right > img {
    width: 30%;
    padding-bottom: 5%;
}

.banner3Left:hover, .banner3Middle:hover, .banner3Right:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.banner3Left {
    background-image: url(../Images/banner3Left1.jpg);
}

.banner3Middle {
    background-image: url(../Images/banner3Middle1.jpg);
}

.banner3Right {
    background-image: url(../Images/banner3Right1.jpg);
}

/* Grid Photos */
.photos {
    height: 160vh;
    border: 1px solid black;

    padding-top: 5vw;
    padding-bottom: 5vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;

    background-color: black;

}

.gridImg {
    height: 100%;
    width: 100%;
}




/* Media Queries */
@media (max-width: 1300px) {
    .header {
        height: 6vh;
    }

}
@media (max-width: 1150px) {
    .header {
        height: 4vh;
    }
}
@media (max-width: 850px) {
    .header {
        height: 3.5vh;
    }
}
@media (max-width: 630px) {
    .header {
        height: 3.5vh;
    }
}