.container {
    padding: 0px;
    /* background-color: rgb(169, 231, 195); */
    background-color: black;
    min-height: 86vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    color: white;
}

/* Video */
.video {
    min-height: 35vh;
    margin: auto;
    width: min(90%, 60rem);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoPlayer {
    background-color: black;
}

/* Banner1 */
.banner1 {
    min-height: 35vh;
    padding: 3rem 0;
    background-image: url('../Images/banner1v4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner1 > * {
    margin: auto;
    width: min(90%, 60rem);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.banner1 > h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner1 > p {
    font-size: 1.1rem;
}

.banner1 > h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

.banner1Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.btn {
    width: 18em;
    min-height: 4em;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 15px;
    background-color: rgb(170, 88, 17);
    border-color: rgb(170, 88, 17);
}

.btn:hover {
    /* background-color: #345BCB;
    color: black; */
}

.navLink {
    text-decoration: none;
    color: white;
}
.navLink:hover {
    color: white;
}

/* Banner 2 */
.banner2 {
    min-height: 25vh;
    padding: 2rem 0;
    background-image: url('../Images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner2:hover {
    cursor: pointer;
}

.banner2 > * {
    margin: auto;
    width: min(90%, 60rem);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.banner2 > h2 {
    font-weight: bold;
    font-size: 3rem;
}

.banner2 > h2:hover {
    color: rgb(170, 88, 17);
}

.banner2 > p {
    font-size: 1.1rem;
}

/* Banner 3 */
.banner3 {
    min-height: 40vh;
    padding: 3rem 0;
    background-image: url('../Images/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner3 > * {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.banner3 > h2 {
    font-size: 3rem;
    font-weight: bold;
}

.banner3 > p {
    font-size: 1.1rem;
    font-style: italic;
}

.banner3PhotoGrid {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.banner3PhotoGrid > * {
    background-repeat: no-repeat;
    background-size: cover;

    height: 20rem;
    width: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner3Left {
    background-image: url('../Images/banner3Left1.jpg');
}

.banner3Middle {
    background-image: url('../Images/banner3Middle1.jpg');
}

.banner3Right {
    background-image: url('../Images/banner3Right1.jpg');
}

.banner3Left > *, .banner3Middle > *, .banner3Right > * {
    padding: 0.5rem;
    font-style: italic;
}

.banner3Left, .banner3Middle, .banner3Right {
    cursor: pointer;
}

/* Grid of photos */
.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    padding: 3rem 0;
    background-color: black;
}

.photos > img {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (min-width: 1921px) {
    .video {
      width: 50%;
    }
    .videoPlayer {
        min-height: 30vh;
    }
    .banner1 > *, .banner2 > *, .banner3 > * {
        width: 50%;
        margin: auto;
    }
    .banner1 > h1, .banner2 > h2, .banner3 > h2 {
        font-size: 4rem;
    }
    .banner1 > p, .banner2> p, .banner3 > p {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .banner3PhotoGrid > * {
        height: 15rem;
        width: 15rem;
    }
    .photos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .btn {
        font-size: 0.9em;
    }
}

@media (max-width: 800px) {
    .btn {
        font-size: 0.7em;
    }
    .banner3PhotoGrid {
        flex-direction: column;
    }
    .banner3PhotoGrid > * {
        height: 20rem;
        width: 20rem;
    }
}

@media (max-width: 600px) {
    .banner1Buttons {
        flex-direction: column;
        align-items: center;
    }
    .btn {
        width: 22em;
        min-height: 4em;
        font-size: 1rem;
    }
    .photos {
        grid-template-columns: 1fr;
        padding: 0px;
        padding-top: 2vh;
    }
}