.container {
    height: 8vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-left: 24vw;
    padding-right: 24vw;
    background-color: black;
}

/* Left Side */

.left {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: black;
}

.left:hover{
    cursor: pointer;
}

.logo {
    margin: 0px;
    padding: 0px;
    height: 8vh;

}

.titleContainer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.titleText, .titleText1 {
    font-size: 1.3em;
    font-weight: bold;

    margin: 0px;

}

.titleText1 {
    letter-spacing: 0.2em;
}

.orangeText {
    color: rgb(168, 115, 16);
}

/* Right Side */
.navBar {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.navLink {
    color: white !important;
    text-decoration: none;
    padding-right: 2vw;
}

.navLink1 {
    color: black;
    text-decoration: none;
}

.navLink1:hover {
    color: orange;
}

.navLink:hover {
    color: orange !important;
}

.navBarContainer {
    justify-content: flex-end;
    width: 30%;

}

.navBarDropdown {
    align-items: center;
    background-color: black;
}

/* Media Queries */
@media (max-width: 1800px) {
    .logo {
        height: 6vh;
    }
    .titleText, .titleText1 {
        font-size: 1em;
    }
}

@media (max-width: 1660px) {
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media (max-width: 1440px) {
   .navLink { 
       padding-right: 1vw;
   }
}

@media (max-width: 1280px) {
    .titleText, .titleText1 {
        font-size: 0.9em;
    }
    .navBarContainer {
        width: 35%;
    }
    .container {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .logo {
        height: 4vh;
    }
    .navBarContainer {
        width: 25%;
    }
    .navLink {
        padding-right: 0vw;
    }
    .container {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

@media (max-width: 768px) {
    
}

/* iPhone 12 - Smallest size we need to cover? */
@media (max-width: 440px) {
}