.navBar {
    min-height: 8vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    justify-content: flex-end;

    background-color: black;
    margin: auto;
    width: min(90%, 60rem);
}

.navBar > * {

}

/* Left Side */

.left {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: black;
}

.left:hover{
    cursor: pointer;
}

.logo {
    margin: 0px;
    padding: 0px;
    height: 8vh;
}

.titleContainer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.titleText, .titleText1 {
    font-size: 1.3em;
    font-weight: bold;

    margin: 0px;

}

.titleText1 {
    letter-spacing: 0.2em;
}

.orangeText {
    color: rgb(170, 88, 17)
}

/* Right Side */

.navLink {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 100% !important;
    text-decoration: none;
    padding-right: 2vw;
}

.navLink1 {
    color: black;
    text-decoration: none;
}

.navLink1:hover {
    color: rgb(170, 88, 17);
}

.navLink:hover {
    color: rgb(170, 88, 17) !important;
}

.navBarContainer {
    justify-content: flex-end;
    width: 30%;
}

.navBarDropdown {
    align-items: center;
    background-color: black;
}

/* Media Queries */
@media (min-width: 1921px) {
    .navBar {
        width: 50%;
    }
    .navLink {
        font-size: 1.3em;
    }
}

@media (max-width: 1050px) {
    .titleText, .titleText1 {
        font-size: 1em;
    }
    .logo {
        height: 6vh;
    }
}

@media (max-width: 850px) {
    .navLink {
        padding-right: 0vh;
    }
}