.container {
    background-color: beige;
    min-height: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

/* Left Side */

.left {
    flex: 1;
    display: flex;
}

.logo {
    background-color: red;
    margin: 0px;
    padding: 0px;
    height: 8vh;
}

.titleContainer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.titleText, .titleText1 {
    font-size: 1.3em;
    font-weight: bold;

    margin: 0px;

}

.titleText1 {
    letter-spacing: 0.2em;
}

.orangeText {
    color: rgb(168, 115, 16);
}

/* Right Side */
.right {
    flex: 2;
    background-color: black;
}

.navBar {
    height: 100%;
    color: white;
}

.navLink {
    color: white;
    text-decoration: none;
    padding-right: 2vw;
}

.navLink:hover {
    color: orange;
}

/* Media Queries */
@media (max-width: 1300px) {
    .logo {
        height: 6vh;
    }
}

@media (max-width: 1150px) {
    .logo {
        height: 4vh;
    }
    .titleText, .titleText1 {
        font-size: 1em;
    }
}

@media (max-width: 850px) {
    .logo {
        height: 3.5vh;
    }
    .titleText, .titleText1 {
        font-size: .7em;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }
}