.container {
    padding: 0px;
    background-color: black;
    min-height: 86vh;
    width: 100%;

    font-family: 'Helvetica';
    color: white;
}

.body {
    margin: auto;
    width: min(90%, 60rem);

    text-align: center;
    padding: 1rem 0;
}

.body h1 {
    font-size: 5rem;
}